/* app css stylesheet */

@import url('https://fonts.googleapis.com/css?family=Coda:400,800');
body {
    overflow-x: hidden;
}
header {
    background-image: url('https://s3.amazonaws.com/jonnyglenn/jonnyglenn_header.jpg')!important;
}
footer {
    height: 30px;
    padding-bottom: 50px;
}
.social-links {
    position: absolute;
    bottom: 20px;
}
#tour, #photos {
    background-color: #fff;
    text-align: center;
}
#contact, footer {
    background-color: #e0e0e0;
}
.youtube-link {
    text-align: center;
}
.ng-binding {
    color: #313130;
    font-family: 'Coda', cursive;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 19px;
}
.ng-scope {
    list-style: none;
}
.img-responsive {
    width: 480px;
    height: 260px;
}
.container {
    text-align: center;
    font-family: 'Coda', cursive;
    letter-spacing: 2px;
}
.multiple-items {
    margin-top: 40px;
    padding-left: 40px;
}
.fa-angle-right, .fa-angle-left {
    position: absolute;
    font-size: 80px;
}
.fa-angle-right {
    margin-left: 40px;
}
.fa-angle-left {
    margin-right: 40px;
}
@media only screen and (max-width: 500px) {
    .photos-header {
        font-size: 25px;
    }
    .multiple-items {
        padding-left: 0px;
    }
    .fa-angle-right {
        display: none;
    }
    .tour-list {
        padding-left: 0px;
    }
    .ng-binding {
        font-size: 15px;
    }
}
.email {
    margin-top: 10px;
}
